/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */
body {
  font-family: 'Pangram', sans-serif;
  background-color: #0a0a0a !important;
  min-height: 100vh;
}

html {
  background-color: #0a0a0a !important;
}

// Asegurar que todos los contenedores tengan el fondo oscuro
* {
  &:not(.btn):not(.badge):not(.alert):not(.modal-content):not(.dropdown-menu) {
    background-color: transparent;
  }
}
