<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'MENUITEMS.WALLET.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="card l-bg-green">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-dollar-sign"></i></div>
            <div class="card-content">
              <h4 class="card-title">{{ 'WALLET-PAGE.AVAILABLE-BALANCE.TEXT' | translate }}</h4>
              <span class="font-20">USD {{ balanceInformation?.availableBalance ?? 0 | truncateDecimals:2 }}</span>
              <div class="mt-2">
              </div>
              <p class="mb-0 text-sm">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="card l-bg-orange">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-trophy"></i></div>
            <div class="card-content">
              <h4 class="card-title">{{ 'WALLET-PAGE.REVERSE-BALANCE.TEXT' | translate }}</h4>
              <span class="font-20">USD {{ balanceInformation?.totalCommissionsPaid ?? 0 | truncateDecimals:2 }}</span>
              <div class="mt-2">
              </div>
              <p class="mb-0 text-sm">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="card l-bg-orange">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large">
              <i class="fa fa-circle-o"></i>
            </div>
            <div class="card-content">
              <h4 class="card-title">{{ 'WALLET-PAGE.TOKEN-BONUS.TEXT' | translate }}</h4>
              <span class="font-20">
                <i class="fa fa-circle-o"></i> {{ balanceInformation?.bonusAmount ?? 0 | truncateDecimals:2 }}
              </span>
              <div class="mt-2">
              </div>
              <p class="mb-0 text-sm">
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>
              {{ 'WALLET-PAGE.TITTLE-TABLE.TEXT' | translate }}
            </h4>
          </div>
          <div class="card-body">
            <!-- Búsqueda personalizada -->
            <ng-template #customSearchTemplate>
              <div class="table-search-area">
                <div>
                  <div class="form-group">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i-feather name="search" style="color: #96a2b4;"></i-feather>
                        </div>
                      </div>
                      <input style="background-color: white;" type="text" class="form-control" id="inlineFormInputGroup"
                        (keyup)='updateFilter($event)' aria-label="Search box"
                        placeholder="{{ 'WALLET-PAGE.SEARCH.TEXT' | translate }}">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

            <!-- Botones personalizados -->
            <ng-template #customButtonsTemplate>
              <ul class="nav justify-content-end">
                <li class="nav-item m-2">
                  <button type="button" class="btn btn-primary" (click)="copyTableData()">
                    <i class="bi bi-clipboard-check"></i>
                    {{ 'WALLET-PAGE.COPY-BTN.TEXT' | translate }}
                  </button>
                </li>
                <li class="nav-item m-2">
                  <button type="button" class="btn btn-primary" (click)="downloadPDF()">
                    <i class="bi bi-printer"></i>
                    {{ 'WALLET-PAGE.PDF-BTN.TEXT' | translate }}
                  </button>
                </li>
              </ul>
            </ng-template>

            <!-- Templates personalizados para celdas -->
            <ng-template #creditTemplate let-row="row">
              <div class="col-green">
                {{ row.credit | truncateDecimals:2 }}
              </div>
            </ng-template>

            <ng-template #debitTemplate let-row="row">
              <div class="col-red">
                {{ row.debit | truncateDecimals:2 }}
              </div>
            </ng-template>

            <ng-template #statusTemplate let-row="row">
              <div *ngIf="row.status == true" class="badge-outline col-green">
                {{ 'WALLET-PAGE.STATE.ATTENDED.TEXT' | translate }}
              </div>
              <div *ngIf="row.status == false" class="badge-outline col-red">
                {{ 'WALLET-PAGE.STATE.NOT-ATTENDED.TEXT' | translate }}
              </div>
            </ng-template>

            <!-- Componente reutilizable -->
            <app-reusable-datatable id="htmlTable" [rows]="rows" [columns]="tableColumns" [actions]="tableActions"
              [config]="tableConfig" [loadingIndicator]="loadingIndicator" [customSearch]="customSearchTemplate"
              [customButtons]="customButtonsTemplate">
            </app-reusable-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>