<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">
        {{ 'MENUITEMS.BILLING.TEXT' | translate }}
      </h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">
      {{ 'MENUITEMS.BILLING-MY-ORDERS.TEXT' | translate }}
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>
              {{ 'BILLING-ORDERS-PAGE.BILLING-ORDERS-TITLE.TEXT' | translate }}
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <app-reusable-datatable
                  [rows]="rows"
                  [columns]="columns"
                  [actions]="actions"
                  [config]="tableConfig"
                  [loadingIndicator]="loadingIndicator"
                  (rowClicked)="onRowClicked($event)"
                  (filterChanged)="onFilterChanged($event)">

                </app-reusable-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
