<!-- Modal Create -->
<ng-template #imageProfileModal let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <div class="modal-about">
          <div class="fw-bold p-t-10 font-17">
            Cambiar imagen de perfil
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 text-center">
        <div *ngIf="user.image_profile_url" class="image-preview-container">
          <button class="btn btn-danger btn-remove-image" (click)="removeImage()">
            <i class="bi bi-trash"></i> Eliminar imagen
          </button>
          <div class="image-wrapper">
            <img [src]="user.image_profile_url" alt="Foto de perfil del usuario" class="profile-image-preview" />
          </div>
        </div>
        <ngx-dropzone *ngIf="!user.image_profile_url" (change)="onFileSelected($event)" [accept]="'image/*'"
          [multiple]="false">
          <ngx-dropzone-label>Arrastra y suelta tu imagen aquí o haz clic para seleccionar</ngx-dropzone-label>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      {{ 'ADMIN-PASSWORD-UPLOAD-MODAL.BTN-CANCEL.TEXT' | translate }}
    </button>
  </div>
</ng-template>