<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">{{ 'MENUITEMS.HOME.TEXT' | translate }}</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row h-100">
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <h4>{{ 'HOME-ADMIN-PAGE.INFORMATION.TEXT' | translate }}</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <div id="chart1" class="flex-grow-1">
              <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart"
                [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"
                [dataLabels]="pieChartOptions.dataLabels" [legend]="pieChartOptions.legend"
                [colors]="pieChartOptions.colors" class="apex-pie-center">
              </apx-chart>
            </div>
            <div class="table-responsive mt-3">
              <table class="table align-items-center table-row-border">
                <thead class="sr-only">
                  <tr>
                    <th scope="col">Concepto</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="this.user.user_name == 'onecall'">
                    <td class="col-yellow">
                      <i class="fa fa-circle col-yellow msr-2"></i> Comisiones para el admin
                    </td>
                    <td class="col-yellow">USD {{ adminCommissions | truncateDecimals:2 }}</td>
                  </tr>
                  <tr>
                    <td class="col-red">
                      <i class="fa fa-circle col-red msr-2"></i> Beneficio en billetera
                    </td>
                    <td class="col-red">USD {{ walletProfit | truncateDecimals:2 }}</td>
                  </tr>
                  <tr>
                    <td class="col-blue">
                      <i class="fa fa-circle col-blue msr-2 "></i>Total comisiones pagadas
                    </td>
                    <td class="col-blue">USD {{ commissionsPaid | truncateDecimals:2 }}</td>
                  </tr>
                  <tr>
                    <td class="col-emerald">
                      <i class="fa fa-circle col-emerald msr-2"></i>Total exitojuntoss vendidos
                    </td>
                    <td class="col-emerald">USD {{ calculatedCommissions | truncateDecimals:2 }}</td>
                  </tr>
                  <tr>
                    <td class="col-green">
                      <i class="fa fa-circle col-green msr-2 col-green"></i>
                      Afiliados activos
                    </td>
                    <td class="col-green">USD {{ totalMembers | truncateDecimals:2 }}</td>
                  </tr>
                  <tr>
                    <td class="col-purple">
                      <i class="fa fa-circle col-purple msr-2 col-purple"></i>
                      Saldo balance 2
                    </td>
                    <td class="col-purple">USD {{ totalReverseBalance | truncateDecimals:2 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <h4>
              {{ 'HOME-PAGE-CLIENT.TITTLE-FIRST-CHART.TEXT' | translate }}
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <app-world-map-chart [countries]="maps" height="350px"></app-world-map-chart>
            </div>
            <div class="row">
              <div id="new-orders" class="media-list" style="position: relative; max-height: 315px !important; overflow-y: auto;"
                >
                <div class="table">
                  <table id="new-orders-table" class="table table-hover table-xl table-row-border mb-0">
                    <thead class="sr-only">
                      <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of maps">
                        <td class="text-truncate">{{ item.Title }}</td>
                        <td class="text-truncate">{{ item.Value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <h4>Afiliados Ingresados</h4>
          </div>
          <div class="card-body d-flex flex-column">
            <div echarts [options]="area_line_chart" class="echart-height flex-grow-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-stretch">
      <!-- Primer card -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex mb-4">
        <div class="card flex-fill h-100">
          <div class="card-header">
            <h4>Compras Realizadas</h4>
          </div>
          <div class="card-body mb-3">
            <div echarts [options]="area_line_chart" class="echart-height"></div>
          </div>
        </div>
      </div>

      <!-- Segundo card -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex mb-4">
        <div class="card flex-fill h-100">
          <div class="card-header">
            <h4>{{ 'HOME-ADMIN-PAGE.LAST-REGISTERED-AFFILIATES.TEXT' | translate }}</h4>
          </div>
          <div class="card-body d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0" *ngFor="let user of lastRegisteredUsers.slice(0,4)">
                <div class="avatar-item text-center">
                  <div class="position-relative d-inline-block">
                    <img alt="{{ user.id }}" [src]="
                    user.image_profile_url ||
                    './assets/images/users/user-1.png'
                  " class="rounded-circle border" style="width: 100px; height: 100px; object-fit: cover;"
                      data-toggle="tooltip" [title]="user.user_name" />
                    <div class="avatar-badge position-absolute" style="top: -5px; right: -5px;"
                      [title]="user.created_at" data-toggle="tooltip">
                      <i class="fas fa-calendar text-primary"></i>
                    </div>
                  </div>
                  <div class="mt-2">
                    <small class="d-block text-truncate fw-bold">{{
                      user.user_name
                      }}</small>
                    <small class="text-muted">{{
                      user.created_at | date: 'shortDate'
                      }}</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-6 col-sm-3 col-lg-3 mb-4 mb-md-0" *ngFor="let user of lastRegisteredUsers.slice(4,8)">
                <div class="avatar-item text-center">
                  <div class="position-relative d-inline-block">
                    <img alt="{{ user.id }}" [src]="
                    user.image_profile_url ||
                    './assets/images/users/user-1.png'
                  " class="rounded-circle border" style="width: 100px; height: 100px; object-fit: cover;"
                      data-toggle="tooltip" [title]="user.user_name" />
                    <div class="avatar-badge position-absolute" style="top: -5px; right: -5px;"
                      [title]="user.created_at" data-toggle="tooltip">
                      <i class="fas fa-calendar text-primary"></i>
                    </div>
                  </div>
                  <div class="mt-2">
                    <small class="d-block text-truncate fw-bold">{{
                      user.user_name
                      }}</small>
                    <small class="text-muted">{{
                      user.created_at | date: 'shortDate'
                      }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
